<div class="min-h-screen flex flex-col">
  <!-- Header -->
  <header class="h-16 px-6 bg-indigo-700 text-white flex justify-between items-center shadow-lg">
    <span class="text-2xl font-bold tracking-wide">Craft App</span>
    <nav>
      <ul class="flex gap-8 text-lg">
        <li routerLinkActive="text-amber-500" class="hover:text-amber-400 transition duration-300">
          <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="text-amber-500" class="hover:text-amber-400 transition duration-300">
          <a routerLink="/subscription">Subscription</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="px-6 py-6">
    <router-outlet></router-outlet>
  </main>
</div>